<h3>CURD Operations -- HTTPClient -- using JSON-Server</h3>

<input [disabled]="isDeptnoDisabled" type="text"  [(ngModel)]="deptno"  placeholder="Deptno"  />
<input type="text"  [(ngModel)]="dname"  placeholder="Dname"  />
<input type="text"  [(ngModel)]="loc"  placeholder="Location"  />
<br/><br/>
<input type="button"  value="Get Depts" (click)="getDepts_click()"  />
<input type="button"  value="Add Dept" (click)="addDept_click()"  />
<input type="button"  value="Update Dept" (click)="updateDept_click()"  />
<input type="button"  value="Clear Fields" (click)="clearFields()"  />
<hr/>
<table border="2"  width="500">
  <tr>
    <th>Dept Number</th>
    <th>Dept Name</th>
    <th>Dept Location</th>
    <th></th>
  </tr>

  <tr *ngFor="let item of deptsArray">
    <td>{{item.deptno}}</td>
    <td>{{item.dname}}</td>
    <td>{{item.loc}}</td>
    <td align="center">
      <a href="javascript:void(0);" (click)="selectDept_click(item.deptno)">Select</a> |
      <a href="javascript:void(0);" (click)="deleteDept_click(item.deptno)">Delete</a>
    </td>
  </tr>

  <tr *ngIf="deptsArray.length == 0">
    <td colspan="4" align="center" style="color:red;"> **No records found. </td>
  </tr>

</table>

<hr/>

<input type="button"  value="GetDepts By Loc" (click)="getDeptsByLoc_click()"  />
<input type="button"  value="Get Dept Names" (click)="getDeptNames_click()"  />
<input type="button"  value="Get Name and Loc" (click)="getNameAndLoc_click()"  />
<input type="button"  value="Wrong Request Url" (click)="wrongRequest_click()"  />

