<!-- <h3>Day 1</h3>
<app-first-component></app-first-component>
<app-data-binding></app-data-binding> -->

<!-- <h3>Day 2</h3> -->

<!-- <app-crud-operations></app-crud-operations> -->
<!-- <app-parent-child *ngFor="let name of unames" [greet]="name" ></app-parent-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent1></app-parent1> -->

<!-- <h3>Day3</h3>

<app-content-projection-parent></app-content-projection-parent>

<app-view-parent></app-view-parent> -->
<!-- 
<h3>Day4</h3>

<app-pipes></app-pipes> -->

<h3>Day 5</h3>

<!-- <app-subscribe-example></app-subscribe-example> -->
<app-subscribe-example-two></app-subscribe-example-two>
