<style>
  .bg1{ background-color :  lightblue;  }
  .bg2{ background-color :  lightgreen;  }
  .bg3{ background-color :  pink;  }

  .c1
  {
    color : blue;
    border:1px solid green;
    width :  100px;
    margin : 5px;
    float : left;
    text-align : center;
    background-color : lightyellow;
  }

  .c2
  {
     background-color: green;
     color : white;
     margin: 0px;
  }

</style>

Select Display Mode :
<select [(ngModel)]="mode">
  <option>List</option>
  <option>Table</option>
  <option>Card</option>
  <option>Others</option>
</select>

<section [ngSwitch]="mode">

  <article *ngSwitchCase=" 'List' ">
    <ol>
      <li *ngFor="let item of students">
          Mr./Ms.
          <span style="color:blue; font-weight: bold;">{{item.sname}}</span>
          joined in
          <span  [ngStyle]="{color: (item.course == 'Angular'?'Red':'Green') }">{{item.course}}</span>
          course.
      </li>
    </ol>
  </article>

  <article *ngSwitchCase=" 'Table' ">
    <table border="2" cellSpacing="0"  cellpadding="3">
      <tr  class="bg1">
              <th>S.No.</th>
              <th>Student Name</th>
              <th>Course Name</th>
      </tr>
          <tr   *ngFor="let item of students;  let i = index;  let x = even; let y = odd; "
                [ngClass]="{bg2:x,  bg3:y}">
          <td> {{i+1}}  </td>
          <td>{{item.sname}}</td>
          <td>{{item.course}}</td>
      </tr>

      <!-- Test the following row by delete items from the array in ts file -->
      <tr *ngIf="students.length <= 0"  class="bg3">
          <td colspan="3">**Student Details are not available. </td>
      </tr>
    </table>
  </article>

  <article *ngSwitchCase=" 'Card' ">
    <div class="c1" *ngFor="let item of students">
      <p  class="c2">{{item.sname}}</p>
      <span>{{item.course}}</span>
      <br/>
    </div>
  </article>

  <article *ngSwitchDefault>This is DEFAULT format</article>

</section>

