<h3>Processing Employee details using Custom Pipe</h3>
<hr/>

Filter Property  :
  <select [(ngModel)]="strFilterProp">
     <option>job</option>
     <option>deptno</option>
</select>

Filter Value  :  <input [(ngModel)]="strFilterValue"  />

<input type="button" value="Get Data"  (click)="getData_click()"  />

<br/><br/>
 <table width="500"  border="2">
  <tr>
    <th>Emp Number</th>
    <th>Emp Name</th>
    <th>Emp Job</th>
    <th>Emp Salary</th>
    <th>Emp Deptno</th>
  </tr>

  <!-- <tr *ngFor="let item of empData | filterpipe: strFilterProp : strFilterValue">  -->
  <tr *ngFor="let item of empData | filterpipe: key : value">
      <td>{{item.empno}}</td>
      <td>{{item.ename}}</td>
      <td>{{item.job}}</td>
      <td>{{item.sal}}</td>
      <td>{{item.deptno}}</td>
  </tr>
</table>
